<footer>

    <div class="footer-superior">

        <div class="footer-logo">

              <img
                src="/images/logo.png"
                class="footer-logo-img"
                alt="Logo GlobalNotice">
         <div class="footer-logo-texto">
            <h2>
            Global<span>Notice</span>
            </h2>
            
            <small>
            El mundo en tus manos
            </small>
            </div>
        </div>





        <div class="footer-contacto">

            <p>✉ info@globalnotice.com</p>

            <p>📞 +57 300 123 4567</p>

            <p>📍 Bogotá, Colombia</p>

        </div>

        <div class="footer-menu">

            <span>Inicio</span>
            <span>Noticias</span>
            <span>Favoritos</span>
            <span>Contacto</span>
            <span>Administración</span>

        </div>

        <div class="footer-redes-container">

            <span class="titulo-redes">
            Síguenos en:
            </span>

        <div class="footer-redes">
        
            <span>f</span>
            <span>x</span>
            <span>📷</span>
            <span>▶</span>
            <span>in</span>
        
        </div>
        </div>

    </div>

    <div class="footer-linea"></div>

    <div class="copyright">

        © 2026 GlobalNotice. Todos los derechos reservados.

    </div>

</footer>