
<nav class="navbar">

 


    <div class="logo">

        <img
            src="/images/logo.png"
            alt="Logo GlobalNotice">

        <div class="logo-texto">

            <h2>
                Global<span>Notice</span>
            </h2>

            <small>
                El mundo en tus manos
            </small>

        </div>

    </div>




    <ul class="menu">

        <li>Inicio</li>
        <li>Noticias</li>
        <li>Favoritos</li>
        <li>Contacto</li>
        <li>Administración</li>

    </ul>

    <div class="buscador">

        <input
            type="text"
            placeholder="Buscar noticias...">

    </div>

</nav>

